<section id="main" role="main">
    <p class="lorem">Lorem <span class="awesome">awesome</span> dolor sit amet, consectetur adipiscing elit. Integer sit amet urna justo, egestas hendrerit lorem. Phasellus tristique imperdiet magna nec sollicitudin. Aliquam cursus condimentum nisl, et posuere velit convallis a. Praesent vehicula ante quis leo vestibulum at luctus diam mattis. Curabitur in ligula ut arcu cursus pharetra. Sed vel purus nec metus congue ullamcorper sed fermentum lacus. Mauris vel orci neque, eu blandit purus. Curabitur eu libero sed augue malesuada accumsan. Etiam venenatis, lorem et mattis molestie, eros nibh tempus ante, sit amet sodales ante tellus in felis. Suspendisse sit amet mauris <span class="awesome">awesome</span>, eget tincidunt nibh. Praesent varius nulla eget turpis cursus tempor. Donec et feugiat nulla. In placerat bibendum felis in tempor.</p>
</section>
<audio id="theme" preload="auto" autobuffer="autobuffer"> 
  <source src="/media/theme.mp3" />
  <source src="/media/theme.ogg" />
</audio>